---
# <!-- -*- engine:django -*- -->
title: About Jon
---

<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="about-nav" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="services-tab" data-toggle="pill" href="#services" role="tab" aria-controls="services" aria-selected="true">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="testimonials-tab" data-toggle="pill" href="#testimonials" role="tab" aria-controls="testimonials" aria-selected="false">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="bio-tab" data-toggle="pill" href="#bio" role="tab" aria-controls="bio" aria-selected="false">Bio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="now-tab" data-toggle="pill" href="#now" role="tab" aria-controls="now" aria-selected="false">Now</a>
        </li>
    </ul>
</div>

<div class="tab-content card-body" id="about-tab-content">
  <div class="tab-pane fade show active" id="services" role="tabpanel" aria-labelledby="services-tab">
    {% capture services_include %}{% include about/services.md %}{% endcapture %}
    {{ services_include | markdownify }}
  </div>
  <div class="tab-pane fade" id="testimonials" role="tabpanel" aria-labelledby="testimonials-tab">
    {% include about/testimonials.html %}
  </div>
  <div class="tab-pane fade" id="bio" role="tabpanel" aria-labelledby="bio-tab">
    {% capture bio_include %}{% include about/bio.md %}{% endcapture %}
    {{ bio_include | markdownify }}
  </div>
  <div class="tab-pane fade" id="now" role="tabpanel" aria-labelledby="now-tab">
    {% capture now_include %}{% include about/now.md %}{% endcapture %}
    {{ now_include | markdownify }}
  </div>
</div>

<!-- Cougar Modal -->
<div class="modal fade bd-example-modal-lg" id="cougarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img alt="our kitty, Cougar!" src="/assets/images/cougar.jpg" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
