---
title: Blog Posts
permalink: /blog/
---

<div id="blog-intro">
  <p class="lead">This space is for news and ponderings about music, games, meditation, life, and stuff. It's updated erratically.</p>
</div>
{% include subscribe.html %}
<hr/>
{% for post in site.posts %}
  <h2 class="post-title">
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>
  <p class="post-date">posted {{ post.date | date: "%A, %B %-d, %Y %-I:%M %p" }}</p>
    {{ post.excerpt }}
  <p class="read-more" ><a href="{{ post.url }}">...read more...</a></p>
  <hr/>
{% endfor %}
