---
title: Code & Development
permalink: /code/
---

<div class="row justify-content-center">
  <a href="http://github.com/jonbash" target="_blank" class="lead btn btn-primary" role="button">
    <h3>Check me out on GitHub!</h3>
  </a>
</div>

<div id="code-projects" class="row">
  {% assign projects = site.data.code-projects %}
  {% for project in projects %}
  <div class="code-project col-lg-6 col-sm-12">
    <div class="card">
      {%- if project.page -%}
      <a href="/{{ project.page }}" target="_blank">
        <h2 class="card-header">
            {%- if project.icon -%}
            <img src="{{ site.images }}/{{ project.icon }}" alt="{{ project.title }} icon" class="border rounded-lg code-pg-project-icon" height="50px">
            {%- endif -%}
          {{ project.title }}
        </h2>
      </a>
      {%- else -%}

      <h2 class="card-header">
          {%- if project.icon -%}
          <img src="{{ site.images }}/{{ project.icon }}" alt="{{ project.title }} icon" class="border rounded-lg code-pg-project-icon" height="50px">
          {%- endif -%}
        {{ project.title }}
      </h2>
      {%- endif -%}
      <div class="row card-body">
        <div class="col-5">
          <img src="{{ site.images }}/{{ project.image }}" class="rounded float-left border" height="auto" width="auto" />
        </div>
        <div class="col code-project-info">
          <p>{{ project.description | markdownify }}</p>
          {% if project.ios-store %}
          <a href="{{ project.ios-store }}" target="_blank" class="project-app-store-button">
            <img src="{{ site.images }}/appstoredownload.svg" alt="Download on the iOS App Store.">
          </a>
          {% endif %}
          {% if project.source %}
          <a class="btn btn-primary project-source-button" href="{{ project.source }}" target="_blank" class="lead">
            <i class="fas fa-code-branch"></i> Check out the source
          </a>
          {% endif %}
          <div class="tech-used">
            <h3>Tech Used:</h3>
            <ul class="list-group">
              {% for i in project.tech-used %}
              <li class="list-group-item"><a href="{{ i.url }}">{{ i.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row justify-content-center">
  <a href="/about/" target="_blank" class="lead btn btn-primary" role="button">
    <h3>Read more about me and what I do!</h3>
  </a>
</div>
