---
title: Concert Works
permalink: /concert-music/
---
<p class="lead">
  If you are interested in purchasing or renting scores or parts, please <a href="#contactModal" data-toggle="modal">get in touch</a>!
</p>
<div id="concert-music" class="accordion">
{% assign pieces = site.concert-music | sort: 'completed' | reverse %}
{% for piece in pieces %}
  <div class="card">
    <div id="{{ piece.slug }}-heading" class="card-header">
      <h3 class="piece-title mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ piece.slug }}" aria-expanded="false" aria-controls="{{ piece.slug }}">
          {{ piece.title }} <small>for {{ piece.ensemble-type }}</small>
        </button>
        <small>({{ piece.completed }}) ({{ piece.length }})</small>
      </h3>
    </div>
    <div id="{{ piece.slug }}" class="collapse" aria-labeledby="{{ piece.slug }}-heading" data-parent="#concert-music">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-7">
            <div class="piece-media">
              {% if piece.youtube %}
                <div class="youtube-embed">
                  {{ piece.youtube }}
                </div>
              {% endif %}
              {{ piece.bandcamp }}
              {{ piece.soundcloud }}
            </div>
            <div class="instrumentation">
              <h3>Instrumentation:</h3>
              <ul class="list-unstyled">
                {% for i in piece.instrumentation %}
                  <li>{{ i }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-sm-5">
            {% if piece.movements %}
              <div class="piece-movements">
                <ol>
                  {% for i in piece.movements %}
                    <li>{{ i }}</li>
                  {% endfor %}
                </ol>
              </div>
            {% endif %}
            <div class="piece-program-notes">
              <h3>Program Notes:</h3>
              {{ piece.content | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
