---
# -*- engine:django -*-
title: "Game & Film Music"
permalink: /game-film-music/
---
<div id="games">
  {% assign games = site.games | sort: 'released' | reverse %}
  {% for game in games %}
    <div class="game" id="{{ game.slug }}">
      <h2 class="game-title">{{ game.title }}</h2>
      <p class="game-dev lead">by {{ game.dev }}</p>
      <img alt="" src="{{ site.images }}/{{ game.image }}"/>
      {{ game.content | markdownify }}
      {% if game.link %}
        <a href="{{ game.link }}"><button class="btn btn-primary" type="submit">Play the game!</button></a>
      {% endif %}
    </div>
  {% endfor %}
</div>

<div id="films">
  {% assign films = site.films | sort: 'released' | reverse %}
  {% for film in site.films %}
    <div class="film" id="{{ film.slug }}">
      <h2>{{ film.title }}</h2>
    </div>
  {% endfor %}
</div>
