---
# -*- engine:django -*-
title: "Games & Films"
permalink: /games-films/
---

<!-- demo reel -->
<div class="youtube-embed no-padding" >
  <iframe class="no-padding" width="100%" height="675" src="https://www.youtube.com/embed/yIrZaByKnqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div id="games">
  <h2 class="display-4">Games</h2>
  <p class="lead">Here's a playlist of music I've made for games or that could work well in games...</p>
  <iframe id="game-playlist" class="no-padding" src="https://www.orfium.com/embedded/playlist/267962/video-game-music-jon-bash/?ref=undefined" width="100%" height="405px" style="border: none;"></iframe>
  <p class="lead">... and these are games I've made music and/or sounds for!</p>
  <hr/>
  {% assign games = site.games | sort: 'released' | reverse %}
  {% for game in games %}
    <div class="game row" id="{{ game.slug }}">
      <div class="game-image col-sm">
        <img class="game-image" alt="" src="{{ site.images }}/{{ game.image }}"/>
      </div>
      <div class="game-info col-sm">
        <h3 class="game-title">{{ game.title }}</h3>
        <p class="game-dev lead">by {{ game.dev }}</p>
        {{ game.content | markdownify }}
        {% if game.link %}
          <a href="{{ game.link }}"><button class="btn btn-primary" type="submit">Play the game!</button></a>
        {% endif %}
      </div>
    </div>
    <hr/>
  {% endfor %}
</div>
<div id="films">
  {% assign films = site.films | sort: 'released' | reverse %}
  {% for film in site.films %}
    <div class="film" id="{{ film.slug }}">
      <h2>{{ film.title }}</h2>
    </div>
  {% endfor %}
</div>
