<!-- -*- engine:django -*- -->
<!-- CONTACT MODAL -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Get in touch!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Need an iOS app built? </li>
          <li>Looking to add a fast-learning developer to your team?</li>
          <li>Need some help with something I made?</li>
          <li>Just want to say "hi" or ask some questions?</li>
        </ul>
        <p>Get in touch!</p>
        <a href="mailto:{{ site.email }}" role="button" class="btn btn-primary btn-lg btn-block">
          Email {{ site.email }}
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
