<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible"  content="ie=edge">

    <!-- other meta -->
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}"> 

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.images }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.images }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.images }}/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{ site.images }}/safari-pinned-tab.svg" color="#60909e">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- main css -->
    <link rel="stylesheet" href="{{ site.assets }}/main.css">

</head>
