<!-- -*- engine:django -*- -->
<!-- MAIN MENU -->
<div class="shadow">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container" >
    <!-- brand -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="/assets/images/JB-icon-128-inv.png" width="32" height="32" alt="">
    </a>
    <!-- small screen menu toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- main nav content -->
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
            {% assign links = site.data.nav %}
            {% for link in links %}
                {% assign class = nil %}
                {% if page.url == link.url %}
                    {% assign class = 'active' %}
                {% endif %}
                {% if link.sublinks %}
                  <li class="nav-item dropdown {{ class }}">
                    <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                        <div class="dropdown-menu bg-dark">
                            {% for sublink in link.sublinks %}
                                <a class="dropdown-item" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {{ class }}">
                        <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- contact button -->
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#contactModal">
                    Contact
                </a>
            </li>
        </ul>
    </div>
  </div>
</nav>
</div>
{% include contact.html %}

<!-- MAIN CONTENT -->
