<div class="modal fade" id="newsletter-modal" tabindex="-1" role="dialog" aria-labelledby="Subscribe" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Subscribe">Subscribe to my newsletter!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">This newsletter goes out very seldom; if you want an update about what I'm up to a few times a year, just submit your name and email here.</p>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://jonbash.us11.list-manage.com/subscribe/post?u=73aadc7d746a8be2198fd327c&amp;id=ec9dac670a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="indicates-required"><span class="asterisk text-info lead">*</span> indicates required</div>
              <div class="mc-field-group form-group">
	              <label for="mce-FIRST_NAME"><strong>First Name</strong></label>
	              <input type="name" value="" name="FIRST_NAME" class="form-control" id="mce-FIRST_NAME" placeholder="Who are you?! :D">
              </div>
              <div class="mc-field-group form-group">
	              <label for="mce-EMAIL"><strong>Email Address</strong> <span class="asterisk text-info lead">*</span>
                </label>
	              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="BlahdyBlah@MySite.com" required>
              </div>
	            <div id="mce-responses" class="clear">
		            <div class="response" id="mce-error-response" style="display:none"></div>
		            <div class="response" id="mce-success-response" style="display:none"></div>
	            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_73aadc7d746a8be2198fd327c_ec9dac670a" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
