---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

//---------
// GENERAL
//---------

.content {
    font-size: $custom-font-size;
}

body {
    min-height: 75rem;
    padding-top: 3.5rem;
}

h1.title {
    padding-top: 2rem;
}

div.page-title {
    background-image: url("/assets/images/keyboard.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        color: $white;
    }
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center
}

.col-sm {
    margin-bottom: 1rem;
}

.row {
    margin-bottom: 2rem;
}

main {
    padding-bottom: 0rem;
    .container {
        flex: 1;
        background-color: $off-white;
        margin-bottom: 0rem;
    }
}

ul {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

//------
// NAV
//------

nav.navbar div ul {
    padding-bottom: 0rem;
    li div.dropdown-menu a.dropdown-item {
        color: $white;
    }
}

nav.navbar div ul li div.dropdown-menu a.dropdown-item:hover {
    color: $white;
    background: #666666
}

//---------
// HEADER
//---------

header {
    margin-bottom: 0;
    div.page-title .title {
        margin-bottom: 0;
    }
}


//--------
// FOOTER
//--------

#footer {
    margin-top: 0;
    background: #999999;
    div.container div.row {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

div.social-stuff ul {
    float: right;
}

//------------
// HOME PAGE
//------------

// jumbotron background
div.jumbotron {
    background-image: url("/assets/images/keyboard.jpeg");
    background-size: cover;
    //background-width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    h1, p {
        color: white;
    }
}
.youtube-embed {
    position: relative;
    padding-bottom: 56%;
    width: 100%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 2rem;
    iframe {
        width: 100%;
        position: absolute;
        height: 100%;
        overflow: hidden;
    }
}

//------------
// ABOUT PAGE
//------------

.service-heading {
    text-decoration: underline;
}

blockquote {
    p {
        //background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin-left: 1.5em;
        margin-bottom: 3px;
        margin-top: 20px;
        padding-left: 0.5em;
        padding-top: 0px;
        padding-bottom: 0px;
        quotes: "\201C""\201D""\2018""\2019";
        color: #777777;
        font-style: italic;
        footer {
            quotes: "";
            border-left: 0px;
        }
    }
}

//---------------
// CONCERT MUSIC
//---------------

.instrumentation {
    list-style-type: none;
}
