---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

//---------
// GENERAL
//---------

body {
}

.content {
    font-size: $custom-font-size;
}

body {
    background-color: $off-white;
    min-height: 75rem;
    padding-top: 3.5rem;
}

h1.title {
    padding-top: 2rem;
}

div.page-title {
    background-image: url("/assets/images/keyboard.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        color: $white;
    }
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center
}

.col-sm {
    margin-bottom: 1rem;
}

.row {
    margin-bottom: 2rem;
}

main {
    padding-bottom: 0rem;
    .container {
        flex: 1;
        margin-bottom: 0rem;
        background-color: $white;
    }
}

ul {
    margin-bottom: 0;
    padding-bottom: 1rem;
    li ul {
        padding-bottom: 0;
    }
}

.btn {
    margin-bottom: 5px;
}

/* img.no-padding, div.no-padding, iframe.no-padding { */
/*     padding-left: 0; */
/*     padding-right: 0; */
/*     margin-left: 0; */
/*     margin-right: 0; */
/* } */

img {
    max-width: 100%;
}

figcaption {
    font-size: 0.7em;
    margin-bottom: 1rem;
    font-style: italic;
}

div.main {
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

//------
// NAV
//------

nav.navbar div ul {
    padding-bottom: 0rem;
    li div.dropdown-menu a.dropdown-item {
        color: $white;
    }
}

nav.navbar div ul li div.dropdown-menu a.dropdown-item:hover {
    color: $white;
    background: #666666
}

//---------
// HEADER
//---------

header {
    margin-bottom: 0;
    div.page-title .title {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
}


//--------
// FOOTER
//--------

#footer {
    margin-top: 0;
    background: #999999;
    div.container div.row {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

div.social-stuff ul {
    float: right;
}
html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

ul.social-buttons {
    font-size: 2em;
    li a {
        color: $white;
        &:hover {
            color: $off-white;
        }
    }
}

//------------
// HOME PAGE
//------------

// jumbotron background
div.jumbotron {
    background-color: transparent;
    //background-image: url("/assets/images/keyboard.jpeg");
    //background-size: cover;
    //background-width: 100%;
    //background-repeat: no-repeat;
    margin-bottom: 0px;
    h1, p {
        color: white;
    }
}
.youtube-embed {
    position: relative;
    padding-bottom: 56%;
    width: 100%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 2rem;
    iframe {
        width: 100%;
        position: absolute;
        height: 100%;
        overflow: hidden;
    }
}

//-------
// ABOUT
//-------

.service-heading {
    text-decoration: underline;
}

blockquote {
    //background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin-left: 1.5em;
    margin-bottom: 3px;
    margin-top: 20px;
    padding-left: 0.5em;
    padding-top: 0px;
    padding-bottom: 0px;
    quotes: "\201C""\201D""\2018""\2019";
    color: #777777;
    font-style: italic;
}
p.quote-source {

}


//---------------
// CONCERT MUSIC
//---------------

.instrumentation {
    list-style-type: none;
}

//---------------------
// GAME AND FILM MUSIC
//---------------------

iframe#game-playlist {
    max-width: 800px;
}

//------
// BLOG
//------

h1.title small {
    font-size: 0.7em;
    text-decoration: underline;
}

p.post-date {
    padding-left: 1rem;
    padding-top: 0.3em;
    font-style: italic;
    font-size: 0.8em;
}

a.blog-link {
    color: $white;
}

p.read-more {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 1rem;
}

h2.post-title {
    margin-bottom: 0;
    padding-bottom: 0;
}
